body {
	margin: 0;
}
* {
	outline: none;
}

.header {
	background-color: black;
	height: 100px;
}
span {
	margin-left: 10px;
	outline: none;
}
input {
	width: 200px;
	height: 30px;
	border-radius: 8px;
}
